<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formforsales</title>
</head>

<body>
    <form action="/form2">
        <label for="">Name of produce</label>
        <input type="text" id="soldproduce" name="nameOfProduce" required><br>
        <label for="">Type of produce</label>
        <input type="text" id="producetype" name="typeOfProduce" required><br>
        <label for="">Weight of produce(tonnage in kgs)</label>
        <input type="text" id="produceweight" name="weightOfProduce(tonnage in kgs)" required><br>
        <label for="">Amount paid</label>
        <input type="text" id="amountpaid" name="amountPaid" required><br>
        <label for="">Name of the buyer</label>
        <input type="text" id="buyername" name="nameOfTheBuyer" required><br>
        <input type="submit">
    </form>
</body>

</html>