<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><form action=""></form></title>
</head>
<body>
    
        <form action="/form" method="post">
         <label for="">crop name:</label>
         <input type="text" id="crop-name" name="cropName" required>
         <label for="">crop weight:</label>
         <input type="number" id="crop-weight" name="cropWeight" required>
         <input type="submit">
        </form> 
     
</body>
</html>