<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <h1>signup</h1>
   <form action="" class="signup">
    <label for="">role</label>
    <input type="text" name="role" required><br>
    <label for="">email</label>
    <input type="text" name="email" required><br>
    <label for="">password</label>
    <input type="text" name="password" required><br>
    <label for="">branch</label>
    <select name="branch" id="branch">
        <option value="matugga">matugga</option>
        <option value="maganjo">maganjo</option>
    </select>
    <input type="submit">
   </form>
</body>
</html>